body {
  margin: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "OpenSauceSans-Black";
  src: url(OpenSauceSans-Black.ttf);
}

@font-face {
  font-family: "OpenSauceSans-Bold";
  src: url(OpenSauceSans-Bold.ttf);
}

@font-face {
  font-family: "OpenSauceSans-SemiBold";
  src: url(OpenSauceSans-SemiBold.ttf);
}

@font-face {
  font-family: "OpenSauceSans-Medium";
  src: url(OpenSauceSans-Medium.ttf);
}

@font-face {
  font-family: "OpenSauceSans-Light";
  src: url(OpenSauceSans-Light.ttf);
}

.home_page,
.first_page,
.second_page,
.third_page,
.fourth_page,
.fifth_page,
.sixth_page {
  margin: 0px;
  padding: 0px;
  width: 1920px;
  height: 1080px;
  width: 100%;
  background-color: rgb(6, 0, 46);
  background-attachment: fixed;
}

.company_name,
.heading,
a {
  color: rgb(255, 255, 255);
}

.company_name,
.heading,
.learn_more {
  font-family: "OpenSauceSans-Bold";
  letter-spacing: 8px;
}

.first_page,
.third_page,
.fifth_page {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-attachment: scroll;
}

.second_page,
.fourth_page,
.sixth_page {
  background-attachment: scroll;
}

.first_page {
  background-image: url(./images/bg_1.png);
}

.third_page {
  background-image: url(./images/bg_2.png);
}

.fifth_page {
  background-image: url(./images/bg_3.png);
}

.company_name {
  display: flex;
  padding: 80px 0;
  font-size: 30px;
  margin: 0px 100px;
}

.heading {
  text-align: center;
  margin-top: 200px;
}

.first_heading,
.second_heading {
  font-family: "OpenSauceSans-Light";
  font-size: 110px;
  font-weight: 700;
  letter-spacing: 12px;
}

.second_heading {
  margin-top: -80px;
}

.overwrite {
  position: relative;
}

.ring_image {
  text-align: center;
  margin: -550px 60px 0 0;
}

.ring {
  margin: -50px 0;
  width: 920px;
  height: 760px;
}

.learn_more,
.logo_name {
  text-align: center;
  margin: 80px -500px 0 1000px;
}

.logo_name {
  margin: -36px 0px 0 1760px;
}

a {
  font-size: 20px;
  text-decoration: none;
}

.logo {
  width: 45px;
  height: 45px;
  margin-left: -5px;
  cursor: pointer;
}

.link_hover:hover {
  color: rgb(235, 16, 187);
}

.horizontal_rule {
  width: 100%px;
  height: 8px;
  margin: 105px 0;
  border: none;
  background: rgb(255, 209, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 209, 0, 1) 0%,
    rgba(255, 2, 110, 1) 50%,
    rgba(255, 209, 0, 1) 100%
  );
}

.para_box {
  width: 600px;
  height: 800px;
  margin: 140px 100px;
  background-color: rgb(157, 140, 255);
  /* padding: 800px 300px; */
  /* background-color: rgb(157, 140, 255); */
}
